* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("../img/back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: 'Arsenal', sans-serif;
}



.logo{
    font-family: 'Poiret One', cursive;
    font-size: 25px;
    letter-spacing: 1.8px;
    color: white;
}

.menu,.menu1{
    text-transform: uppercase  ;
    
}

.menu a, .logo a{
    text-decoration: none;
    list-style-type: none;
    color: white;
    
}

.logo a:hover {
    text-decoration: none;
    list-style-type: none;
    color: white;
    
}

.menu a:hover{
    background-color: rgba(255, 255, 255, 0.705);
    color:#6c96a4;
}

.slider{
    font-family: 'Raleway', sans-serif;
    -webkit-box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.39);
    -moz-box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.39);
    box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.39);
}
.article {
    margin: 8% 0 8% 0;
    background-color: rgba(255, 255, 255, 0.747);
    padding: 2%;

    -webkit-box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.39);
-moz-box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.39);
box-shadow: 0px 0px 11px 7px rgba(34, 60, 80, 0.39);
}


.form{
    color: white;
    background-image: url(../img/bg_form.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn1 {
    background: rgb(38, 46, 99);
    background: linear-gradient(90deg, rgba(38, 46, 99, 1) 12%, rgba(68, 134, 130, 1) 60%, rgba(165, 233, 206, 1) 98%);
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.61);
    color: white;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 0.15rem;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Arsenal', sans-serif;
    font-size: 15px;
}

.footer {

    color: white;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px 0px 0px;
    
}

@media  (max-width: 1200px ){

    .menu {
        font-size: 13px;
    } 

}

@media  (max-width: 992px ) {
    .menu li,.menu1 a, .logo{
        font-size: 20px;
    } 
}


@media  (max-width: 768px ) {
    .menu li,.menu1 a, .logo{
        font-size: 15px;
    } 
}

@media  (max-width: 576px ) {
    .menu li,.menu1 a,{
        font-size: 8px;
    } 
    
}